# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# File with name/email settings
.extra

# Editor cruft
*.swp
*.*~

# LaTeX cruft 
*.bbl 
*.blg
*.log 
*.pdf
*.aux  

# Mac things 
.DS_Store
 
